:root {
  --text: rgba(234, 235, 235, 1);
  --background: rgba(4, 6, 6, 1);
  --accent: rgba(69, 177, 196, 1);
  --buttons-primary: rgba(161, 195, 201, 1);
  --buttons-secondary: rgba(47, 102, 111, 1);
  --body-text-font-family: "Roboto", Helvetica;
  --body-text-font-weight: 400;
  --body-text-font-size: 20px;
  --body-text-letter-spacing: 0px;
  --body-text-line-height: 27.5px;
  --body-text-font-style: normal;
  --heading-font-family: "Outfit", Helvetica;
  --heading-font-weight: 700;
  --heading-font-size: 96px;
  --heading-letter-spacing: 0px;
  --heading-line-height: 27.5px;
  --heading-font-style: normal;
  --subheading-font-family: "Outfit", Helvetica;
  --subheading-font-weight: 600;
  --subheading-font-size: 32px;
  --subheading-letter-spacing: 0px;
  --subheading-line-height: 27.5px;
  --subheading-font-style: normal;
  --GTM-c-titles-font-family: "Outfit", Helvetica;
  --GTM-c-titles-font-weight: 600;
  --GTM-c-titles-font-size: 20px;
  --GTM-c-titles-letter-spacing: 0px;
  --GTM-c-titles-line-height: 27.5px;
  --GTM-c-titles-font-style: normal;
  --GTM-c-content-title-font-family: "Outfit", Helvetica;
  --GTM-c-content-title-font-weight: 600;
  --GTM-c-content-title-font-size: 14px;
  --GTM-c-content-title-letter-spacing: 0px;
  --GTM-c-content-title-line-height: 27.5px;
  --GTM-c-content-title-font-style: normal;
  --GTM-content-font-family: "Outfit", Helvetica;
  --GTM-content-font-weight: 200;
  --GTM-content-font-size: 13px;
  --GTM-content-letter-spacing: -0.13px;
  --GTM-content-line-height: 27.5px;
  --GTM-content-font-style: normal;
  --sub-sub-heading-font-family: "Outfit", Helvetica;
  --sub-sub-heading-font-weight: 400;
  --sub-sub-heading-font-size: 32px;
  --sub-sub-heading-letter-spacing: 0px;
  --sub-sub-heading-line-height: 27.5px;
  --sub-sub-heading-font-style: normal;
}
